:root{
    --accent-color: #2E2F42;
}
body{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

ul,li,h1,h2,h3,h4,h5{
    list-style-type:none;
}

.link{
    text-decoration: none;
}



/*todo------ HEADER ---------*/

.header-logo{
        color:#4D5AE5;
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-logo-accent {
    color:var(--accent-color);
}
.heder-nav-link{
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.heder-nav-link:hover,
.heder-nav-link:focus {
color: #404BBF;
}


.header-social-link{
    color: #434455;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.header-social-link:hover,
.header-social-link:focus {
    color: #404BBF;
}

/*todo------ HERO ---------*/
.hero{
    background-color: #2E2F42;
}
.hero-title{
        color: #FFF;
        text-align: center;
        font-family: inherit;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}
.hero-btn{
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 4px;
            background-color: #4D5AE5;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            cursor: pointer;
}
.hero-btn:is(:hover, :focus)
{
background-color:  #404BBF;
}

/*todo--- ADVANTAGES -------*/
.advantages-title{
    color:#2E2F42;
    font-style: normal;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.advantages-text{
    color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}

/*------- ACTIVITY -------*/

/*todo-------TEAM -------*/
.team-title{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-subtitle{
    color: #2E2F42;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.team-text{
    color: #434455;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

/*todo-------FOOTER-WEB -----*/
.footer-web{
    background-color: #2E2F42;
}
.footer-web{
    color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16; 
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-web-logo-accent{
    color: #F4F4FD;
}
.footer-web-logo-text{
    color: var(--accent-color);
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}


