:root{
    --accent-color: #4D5AE5;
    --nav-color: #2E2F42;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

    ul,ol{
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

}
img{
    display: block;
}


body{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

ul,li,h1,h2,h3,h4,h5{
    list-style-type:none;
}

.link{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    outline: 1px solid rgb(15, 13, 0);
    margin: 0 auto;
   
}


/*todo------ HEADER ---------*/
.header{
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
}

.head-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
        color: var(--accent-color);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
       
        
}
.header-logo-accent {
    color:#2E2F42;
}
.header-nav-list{
    display: flex;
    gap: 40px;
    
}
.header-nav-item{
    position: relative;
}
.header-nav-item.current::after{
   content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color:  #404BBF;
    position: absolute;
    right: 0;
    bottom: -1px;
}
    

.heder-nav-link{
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.heder-nav-link:hover,
.heder-nav-link:focus {
color: #404BBF;
}
.heder-nav-link::after{
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
        background-color:  #404BBF;
}

.header-social-list{
    display: flex;
    gap: 40px;
}

.header-social-link{
    color: #434455;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.header-social-link:hover,
.header-social-link:focus {
    color: #404BBF;
}


/*todo------ HERO ---------*/

.hero{
    max-width: 1440px;
    background-color: #2E2F42;
    --ferf: #FFF;
    padding: 187px 0 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;     
    background-repeat: no-repeat;   
}

.hero-title{
        color: var(--ferf);
        text-align: center;
        font-family: inherit;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto;
}
.hero-title-accent{
    margin-bottom: 48px;
}
.hero-btn{
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
            background-color: #4D5AE5;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            margin: 0 auto;
            
            
}
.hero-btn:is(:hover, :focus)
{
background-color:  #404BBF;
}

/*todo--- ADVANTAGES -------*/
.advantages{
    padding: 120px 0;
}
.advantages-list{
    display: flex;
    gap: 24px;
}
.advantages-item{
    width: calc((100% - 24*3) / 4);
}
.advantages-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    
}

.advantages-title{
    color:#2E2F42;
    font-style: normal;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.advantages-text{
    color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.advantages-text.yellow{
    background-color: yellow;
    color: var(--accent-color);
}
.advantages-text.orange{
    background-color: orange;
    color: darkgoldenrod;
}


/*todo------- ACTIVITY -------------*/
.activity{
    padding-bottom: 120px;
}

.activity-title{
         color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.activity-title span{
    color: yellow;
}
.activity-list{
    display: flex;
    gap: 24px;
}
.activity-item{
    width: calc((100% - 48px) / 3);
}


/*todo-------TEAM -------*/
.team{
    padding-bottom: 120px;
    background-color: #F4F4FD;
}
.team-title{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
padding-top: 120px;
margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    position: relative;
    overflow: hidden;
    width: calc((100% - 3*24) / 4);
    border-radius: 0px 0px 4px 4px;
        background-color:  #FFF;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-subtitle-box{
    padding: 32px 0;
    
}
.team-subtitle{
    color: #2E2F42;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.team-text{
    color: #434455;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.team-cover{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 500ms ease-in-out;
    transform: translateY(100%);
}
.team-item:hover .team-cover{
transform: translateY(0);
}

.team-cover-text{
    width: 264px;
    height: 260px;
    padding: 40px 32px 164px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ec8585;
}
.team-cover-name-profession{
    padding: 32px 0 15px;
    
}
.team-cover-subtitle{
        color: #68fc05;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.team-cover-profession{
        color: #68fc05;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.team-icons-list{
   display: flex;
   justify-content: center;
    gap: 24px;
}
.team-icons-item{
    width: 40px;
    height: 40px;
}
.team-icons-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #404BBF;
    border-radius: 50%;
    color: #f4f4fd;
    transition: color 250ms ease;
}
.team-icons{
    fill: currentColor;
}

.team-icons-link:hover{
    color: blue;
    background-color: #31D0AA;
}



/*todo-------CUSTOMERS -----*/
.customers{
    padding: 120px 0;
}
.customers-title{
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.customers-list{
    display: flex;
    gap: 24px;
    
}
.customers-item{
    width: calc((100% - 5*24 ) / 6);
}
.customers-link{
    height: 88px;
    border-radius: 4px;
        border: 1px solid #8e8f99;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: border;
        transition-duration: 2500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 50ms;
        transition: transform 250ms ease-in-out;
}
.customers-icon{
    fill: #8E8F99;
    width: 100%;
    height: 100%;
    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 50ms;
        transition: transform 250ms ease-in-out;
}
.customers-link .customers-icon:hover {
   fill: #404BBF;
    border: 1px solid #404BBF;
    transform: scale(0.75);
}

/*todo-------FOOTER-WEB -----*/

.footer-web{
    max-width: 1440px;
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-web-container{
    display: flex;
    align-items: baseline;
}
.footer-web-logo-box{
    margin-right: 120px;
}

.footer-web-logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.footer-web-logo-accent{
    color: #F4F4FD;
}
.footer-web-text{
    max-width: 264px;
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.footer-web-icons-title{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.footer-web-icons-list{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-web-icons-item{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #404BBF;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(236, 9, 24),
            0 0 0 5px rgb(0, 255, 76), 0 0 0 8px rgb(0, 60, 255);
    transition: background-color 250ms ease, border-radius 250ms ease, box-shadow ;
}
.footer-web-icons-item.current-footer-web::after{
    content: '';
    height: 4px;
    width: 42px;
    right: 0;
   background-color: gainsboro;
   position: absolute;
   bottom: -15px;
}
.current-footer-web:first-child::after{
content: '';
    height: 44px;
    width: 4px;
    left: 0;
    background-color: rgb(212, 15, 15);
    position: absolute;
    margin-left: -15px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 250ms ease;
    
}
.footer-web-icons-item.current-footer-web:first-child:hover::after{
    background-color: #160303;
    
}

.footer-web-icons-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4FD;
    transition: color 250ms ease-in, transform 250ms ease-in;
}
.footer-web-icons{
    fill: currentColor;
}
.footer-web-icons-item:hover .footer-web-icons-link{
    color: yellow;
    background-color: #31D0AA;
    border-radius: 30%;
    transform: scale(0.5);
    box-shadow: 0 0 0 3px rgb(15, 14, 0),
            0 0 0 5px gold, 0 0 0 8px red;
}


/*todo-----PORTFOLIO-HEADER -----*/
.portfolio-header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
    

.portfolio-header-logo{
    color: var(--accent-color);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.portfolio-header-logo span{
    color: #2E2F42;
}

.portfolio-header-list{
    display: flex;
    gap: 40px;
}
.portfolio-header-item{
    align-items: center;
    position: relative;
   
}
.portfolio-header-item.test::before{
    content: '';
        width: 15px;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
}
.portfolio-header-item.current-portfolio::after{
    width: 10px;
    height: 5px;
    color: yellow;
    content: 'test';
    position: absolute;
    right: 50%;
    transform: translateY(-50%);
    bottom: -10px;
}
.portfolio-header-item.test_1::after{
    content:'';
    width: 4px;
    height: 10px;
    border-radius: 2px;
        background-color: #404BBF;
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
}
.portfolio-header-item.test_1:hover:after{
    background-color: black;
}

.portfolio-header-link{
        color: var(--nav-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-header-link:is(:hover, :focus){
    color: #404BBF;
}

.portfolio-address-list{
    display: flex;
    gap: 40px;
}
.portfolio-address-item{
    align-items: center;
}
.portfolio-address-link{
        color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-right: 0;
}
.portfolio-address-link:is(:focus, :hover){
    color: #404BBF;
}

/*todo--SECTION-PORTFOLIO -----*/

.portfolio-btn-list{
    display: flex;
    justify-content: center;
}
.portfolio-btn-item{
    padding-top: 96px;
    margin-bottom: 72px;
}
.portfolio-btn{
        color: #4D5AE5;
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
            border: 3px solid  yellowgreen;
            background-color: #F4F4FD;
            cursor: pointer;
            padding: 12px 24px;
}
.portfolio-btn:is(:hover, :active){
    border-color: gold;
    border-style: dashed;
    border-radius: 100%;
}
.portfolio-btn.wite{
        color: #FFF;
        background-color:#404BBF;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.portfolio-btn.wite:is(:hover){
    border-color:silver;
}

.portfolio-img-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-bottom: 120px;
}
.portfolio-img-item{
    flex-basis: calc((100% - 48px) / 3);
    
}


.portfolio-img-cover{
    position: relative;
    overflow: hidden;
}
.portfolio-img-cover:hover .portfolio-img-cover-hover{
    transform: translateY(0);
}

.img-descripsion{
    padding: 32px 16px;
}

.portfolio-img-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-img-text{
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.portfolio-img{
    border: 10px solid yellow;
    border-radius: 20px;
}
.portfolio-img:is(:hover, :focus){
    border-radius: 50%;
}


.portfolio-img-cover-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 1px solid  #F4F4FD;
        background-color: #FFF;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-img-cover-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    padding: 40px 32px 164px;
}
.portfolio-img-cover-subtitle{
    padding: 32px 16px;
}
.portfolio-img-cover-title {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-img-cover-descripsion{
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/*todo--PORTFOLIO-FOOTER -----*/
.portfolio-footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.portfolio-footer-logo{
        color: var(--accent-color);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
        
}
.portfolio-footer-logo span{
    color: #F4F4FD;
}
.portfolio-footer-text{
        max-width: 264px;
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-shadow: -10px -5px 7px yellow;
        margin-top: 17px;
}
